<a href="https://colab.research.google.com/github/NhuY26/-ki-m-nh-t-b-ng-g-i-statsmodels/blob/main/BT_GI%E1%BB%AEA_K%E1%BB%B2_H%E1%BB%8CC_M%C3%81Y_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import os
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import MinMaxScaler
from sklearn.linear_model import LogisticRegression

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

Câu 1: Hãy tải về tập dữ liệu:
1. Breast cancer
2. Wine

In [ ]:
import pandas as pd
# reading csv files
datawine =  pd.read_csv('/content/drive/MyDrive/KT GIỮA KỲ HỌC MÁY 1/wine.data', sep=",")
X = datawine.iloc[:, :-1].values
y = datawine.iloc[:, -1].values
databreast =  pd.read_csv('/content/drive/MyDrive/KT GIỮA KỲ HỌC MÁY 1/breast-cancer-wisconsin.data', sep=",")
X = databreast.iloc[:, :-1].values
y = databreast.iloc[:, -1].values

In [ ]:
#Chuyển đổi các ô trống sang NaN
databreast.replace("?", np.nan, inplace=True) 
#Xóa các hàng có giá trị NaN
databreast.dropna(inplace=True) 
databreast.sample(10)

     1000025   5   1  1.1  1.2   2 1.3  3  1.4  1.5  2.1
224  1227244   1   1    1    1   2   1  2    1    1    2
258   242970   5   7    7    1   5   8  3    4    1    2
253  1116116   9  10   10    1  10   8  3    3    1    4
27   1067444   2   1    1    1   2   1  2    1    1    2
29   1070935   3   1    1    1   1   1  2    1    1    2
663  1345593   3   1    1    3   2   1  2    1    1    2
289   560680   1   1    1    1   2   1  1    1    1    2
536  1116192   5   1    2    1   2   1  3    1    1    2
225  1227481  10   5    7    4   4  10  8    9    1    4
114  1173347   1   1    1    1   2   5  1    1    1    2

In [ ]:
datawine

,1,14.23,1.71,2.43,15.6,127,2.8,3.06,.28,2.29,5.64,1.04,3.92,1065
0,1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
1,1,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
2,1,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
3,1,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
4,1,14.20,1.76,2.45,15.2,112,3.27,3.39,0.34,1.97,6.75,1.05,2.85,1450
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
172,3,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740
173,3,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750
174,3,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835
175,3,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840
176,3,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560

Những dữ liệu này là kết quả phân tích hóa học của các loại rượu vang được trồng ở cùng một vùng ở Ý nhưng có nguồn gốc từ ba giống cây trồng khác nhau. Phân tích đã xác định số lượng của 13 thành phần được tìm thấy trong mỗi loại trong số ba loại rượu vang.

Các thuộc tính là

1) Rượu

2) Axit malic

3) Tro

4) Độ kiềm của tro

5) Magiê

6) Tổng số phenol

7) Flavanoid

8) Phenol không flavanoid

9) Proanthocyanin

10) Cường độ màu

11)Hue

12)OD280/OD315 của rượu pha loãng

13)Proline

In [ ]:
databreast

     1000025  5   1  1.1  1.2  2 1.3   3  1.4  1.5  2.1
0    1002945  5   4    4    5  7  10   3    2    1    2
1    1015425  3   1    1    1  2   2   3    1    1    2
2    1016277  6   8    8    1  3   4   3    7    1    2
3    1017023  4   1    1    3  2   1   3    1    1    2
4    1017122  8  10   10    8  7  10   9    7    1    4
..       ... ..  ..  ...  ... ..  ..  ..  ...  ...  ...
693   776715  3   1    1    1  3   2   1    1    1    2
694   841769  2   1    1    1  2   1   1    1    1    2
695   888820  5  10   10    3  7   3   8   10    2    4
696   897471  4   8    6    4  3   4  10    6    1    4
697   897471  4   8    8    5  4   5  10    4    1    4

[682 rows x 11 columns]

1.1 Tập dữ liệu Breast Cancer Wisconsin
Bộ dữ liệu BCW chứa 699 mẫu bệnh phẩm được lấy từ các tế bào ung thư vú của bệnh nhân
Có 11 thuộc tính cho mỗi quan sát tương ứng với miền giá trị của nó

1 Sample code number (ID - Các con số dùng để định danh)

2 Clump Thickness (1-10) (Tức là giá trị của nó là số nguyên nằm từ 1 đến 10)

3 Uniformity of Cell Size (1-10)

4 Uniformity of Cell Shape (1-10)

5 Marginal Adhesion (1-10)

6 Single Epithelial Cell Size (1-10)

7 Bare Nuclei (1-10)

8 Bland Chromatin (1-10)

9 Normal Nucleoli (1-10)

10 Mitoses (1-10)

11 Class (2- cho bệnh lành tính và 4 - cho bệnh ác tính)

Câu 2: Đối với từng tập dữ liệu hãy xác định:
1. Thuộc tính nào đóng vai trò nhãn lớp?

  -Biến class đóng vai trò nhãn lớp
2. Tập dữ liệu nào phục vụ bài toán phân lớp nhị phân? Bài toán phân lớp đa nhãn?

  -Tập dữ liệu breast phục vụ cho bài toán nhị phân

  -Tập dữ liệu wine phục vụ cho bài toán phân lớp đa nhãn

3. Thuộc tính nào không cần thiết trong huấn luyện mô hình?

  -Thuộc tính id là không cần thiết trong huấn luyện mô hình

Câu 3: Hãy xây dựng mô hình phân lớp LogisticRegression, k-NN và Naïve Bayes cho 2 tập dữ
liệu trên. Yêu cầu:
1. Xác định nhãn lớp có cân bằng hay không?
2. Phân chia train – test theo tỉ lệ 80% - 20% có cần thực hiện xáo trộn dữ liệu hay không?
3. Thông báo kết quả 10-fold CV của quá trình huấn luyện từng mô hình (sử dụng
cross_val_scores)
4. Dựa vào kết quả dự đoán của từng mô hình - ŷ và tập dữ liệu kiểm chứng - ytest, hãy:

a. Đánh giá hiệu năng của từng mô hình theo các bộ chỉ số: (i) accuracy; (ii) precision; (iii) recall; và (iv) f1-measure.

b. Vẽ bảng ghi kết quả so sánh các chỉ số trên của từng mô hình

c. Xác định mô hình vượt trội?

In [ ]:
# nhãn lớp cân bằng
from sklearn import datasets
import numpy as np
 
X = datawine.iloc[:, :-1].values
y = datawine.iloc[:, -1].values
 
X_imb = np.vstack((X[y == 1], X[y == 0][:30]))
y_imb = np.hstack((y[y == 1], y[y == 0][:30]))

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2)

In [ ]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values=np.nan, strategy='mean')
X[:, 1:3] = imputer.fit_transform(X[:, 1:3])

In [ ]:
X_train

array([[ 3.  , 12.25,  3.88, ...,  8.21,  0.65,  2.  ],
       [ 1.  , 13.72,  1.43, ...,  6.8 ,  0.89,  2.87],
       [ 1.  , 14.3 ,  1.92, ...,  6.2 ,  1.07,  2.65],
       ...,
       [ 1.  , 13.29,  1.97, ...,  6.  ,  1.07,  2.84],
       [ 1.  , 14.19,  1.59, ...,  8.7 ,  1.23,  2.82],
       [ 1.  , 13.5 ,  1.81, ...,  3.52,  1.12,  3.82]])

In [ ]:
y_train

array([ 855, 1285, 1280,  840,  675,  750,  345, 1185,  495,  920,  480,
        450,  740,  472, 1295,  600, 1130,  570,  735, 1280,  678,  550,
        470,  985,  365,  970, 1547,  870,  780,  463,  650,  410,  650,
        680, 1035,  495, 1285, 1050,  630, 1375,  590, 1015,  325,  564,
        355,  560,  885, 1045,  695, 1095,  495,  466,  406, 1045,  915,
        680,  415,  607,  780,  660,  372,  795,  680,  380,  985, 1060,
       1265,  562,  675,  407,  886,  515,  500,  425,  770,  580,  515,
        450,  615,  315,  750,  937,  630,  378,  680,  580,  625, 1260,
        352,  625, 1320,  480,  625,  660,  640,  510,  345, 1235,  695,
        845,  290, 1035,  550,  510,  760,  630, 1020,  520, 1120, 1080,
        750,  562,  830,  725,  880,  630, 1150,  685, 1065,  620,  750,
        312, 1060,  434,  720,  520,  385,  480,  428,  420, 1035,  465,
        392, 1310,  488, 1285,  428,  990, 1270, 1680,  845])

In [ ]:
X_test

array([[1.000e+00, 1.420e+01, 1.760e+00, 2.450e+00, 1.520e+01, 1.120e+02,
        3.270e+00, 3.390e+00, 3.400e-01, 1.970e+00, 6.750e+00, 1.050e+00,
        2.850e+00],
       [1.000e+00, 1.437e+01, 1.950e+00, 2.500e+00, 1.680e+01, 1.130e+02,
        3.850e+00, 3.490e+00, 2.400e-01, 2.180e+00, 7.800e+00, 8.600e-01,
        3.450e+00],
       [1.000e+00, 1.305e+01, 2.050e+00, 3.220e+00, 2.500e+01, 1.240e+02,
        2.630e+00, 2.680e+00, 4.700e-01, 1.920e+00, 3.580e+00, 1.130e+00,
        3.200e+00],
       [3.000e+00, 1.293e+01, 2.810e+00, 2.700e+00, 2.100e+01, 9.600e+01,
        1.540e+00, 5.000e-01, 5.300e-01, 7.500e-01, 4.600e+00, 7.700e-01,
        2.310e+00],
       [1.000e+00, 1.339e+01, 1.770e+00, 2.620e+00, 1.610e+01, 9.300e+01,
        2.850e+00, 2.940e+00, 3.400e-01, 1.450e+00, 4.800e+00, 9.200e-01,
        3.220e+00],
       [2.000e+00, 1.221e+01, 1.190e+00, 1.750e+00, 1.680e+01, 1.510e+02,
        1.850e+00, 1.280e+00, 1.400e-01, 2.500e+00, 2.850e+00, 1.280e+00,
        3.070e+00],
       [2.000e+00, 1.164e+01, 2.060e+00, 2.460e+00, 2.160e+01, 8.400e+01,
        1.950e+00, 1.690e+00, 4.800e-01, 1.350e+00, 2.800e+00, 1.000e+00,
        2.750e+00],
       [2.000e+00, 1.305e+01, 5.800e+00, 2.130e+00, 2.150e+01, 8.600e+01,
        2.620e+00, 2.650e+00, 3.000e-01, 2.010e+00, 2.600e+00, 7.300e-01,
        3.100e+00],
       [3.000e+00, 1.327e+01, 4.280e+00, 2.260e+00, 2.000e+01, 1.200e+02,
        1.590e+00, 6.900e-01, 4.300e-01, 1.350e+00, 1.020e+01, 5.900e-01,
        1.560e+00],
       [3.000e+00, 1.373e+01, 4.360e+00, 2.260e+00, 2.250e+01, 8.800e+01,
        1.280e+00, 4.700e-01, 5.200e-01, 1.150e+00, 6.620e+00, 7.800e-01,
        1.750e+00],
       [2.000e+00, 1.237e+01, 1.070e+00, 2.100e+00, 1.850e+01, 8.800e+01,
        3.520e+00, 3.750e+00, 2.400e-01, 1.950e+00, 4.500e+00, 1.040e+00,
        2.770e+00],
       [1.000e+00, 1.439e+01, 1.870e+00, 2.450e+00, 1.460e+01, 9.600e+01,
        2.500e+00, 2.520e+00, 3.000e-01, 1.980e+00, 5.250e+00, 1.020e+00,
        3.580e+00],
       [3.000e+00, 1.287e+01, 4.610e+00, 2.480e+00, 2.150e+01, 8.600e+01,
        1.700e+00, 6.500e-01, 4.700e-01, 8.600e-01, 7.650e+00, 5.400e-01,
        1.860e+00],
       [1.000e+00, 1.305e+01, 1.650e+00, 2.550e+00, 1.800e+01, 9.800e+01,
        2.450e+00, 2.430e+00, 2.900e-01, 1.440e+00, 4.250e+00, 1.120e+00,
        2.510e+00],
       [2.000e+00, 1.234e+01, 2.450e+00, 2.460e+00, 2.100e+01, 9.800e+01,
        2.560e+00, 2.110e+00, 3.400e-01, 1.310e+00, 2.800e+00, 8.000e-01,
        3.380e+00],
       [3.000e+00, 1.413e+01, 4.100e+00, 2.740e+00, 2.450e+01, 9.600e+01,
        2.050e+00, 7.600e-01, 5.600e-01, 1.350e+00, 9.200e+00, 6.100e-01,
        1.600e+00],
       [2.000e+00, 1.260e+01, 1.340e+00, 1.900e+00, 1.850e+01, 8.800e+01,
        1.450e+00, 1.360e+00, 2.900e-01, 1.350e+00, 2.450e+00, 1.040e+00,
        2.770e+00],
       [1.000e+00, 1.305e+01, 1.730e+00, 2.040e+00, 1.240e+01, 9.200e+01,
        2.720e+00, 3.270e+00, 1.700e-01, 2.910e+00, 7.200e+00, 1.120e+00,
        2.910e+00],
       [2.000e+00, 1.225e+01, 1.730e+00, 2.120e+00, 1.900e+01, 8.000e+01,
        1.650e+00, 2.030e+00, 3.700e-01, 1.630e+00, 3.400e+00, 1.000e+00,
        3.170e+00],
       [3.000e+00, 1.288e+01, 2.990e+00, 2.400e+00, 2.000e+01, 1.040e+02,
        1.300e+00, 1.220e+00, 2.400e-01, 8.300e-01, 5.400e+00, 7.400e-01,
        1.420e+00],
       [1.000e+00, 1.382e+01, 1.750e+00, 2.420e+00, 1.400e+01, 1.110e+02,
        3.880e+00, 3.740e+00, 3.200e-01, 1.870e+00, 7.050e+00, 1.010e+00,
        3.260e+00],
       [1.000e+00, 1.410e+01, 2.160e+00, 2.300e+00, 1.800e+01, 1.050e+02,
        2.950e+00, 3.320e+00, 2.200e-01, 2.380e+00, 5.750e+00, 1.250e+00,
        3.170e+00],
       [2.000e+00, 1.208e+01, 2.080e+00, 1.700e+00, 1.750e+01, 9.700e+01,
        2.230e+00, 2.170e+00, 2.600e-01, 1.400e+00, 3.300e+00, 1.270e+00,
        2.960e+00],
       [1.000e+00, 1.328e+01, 1.640e+00, 2.840e+00, 1.550e+01, 1.100e+02,
        2.600e+00, 2.680e+00, 3.400e-01, 1.360e+00, 4.600e+00, 1.090e+00,
        2.780e+00],
       [2.000e+00, 1.200e+01, 9.200e-01, 2.000e+00, 1.900e+01, 8.600e+01,
        2.420e+00, 2.260e+00, 3.000e-01, 1.430e+00, 2.500e+00, 1.380e+00,
        3.120e+00],
       [3.000e+00, 1.388e+01, 5.040e+00, 2.230e+00, 2.000e+01, 8.000e+01,
        9.800e-01, 3.400e-01, 4.000e-01, 6.800e-01, 4.900e+00, 5.800e-01,
        1.330e+00],
       [2.000e+00, 1.237e+01, 1.630e+00, 2.300e+00, 2.450e+01, 8.800e+01,
        2.220e+00, 2.450e+00, 4.000e-01, 1.900e+00, 2.120e+00, 8.900e-01,
        2.780e+00],
       [3.000e+00, 1.350e+01, 3.120e+00, 2.620e+00, 2.400e+01, 1.230e+02,
        1.400e+00, 1.570e+00, 2.200e-01, 1.250e+00, 8.600e+00, 5.900e-01,
        1.300e+00],
       [2.000e+00, 1.272e+01, 1.810e+00, 2.200e+00, 1.880e+01, 8.600e+01,
        2.200e+00, 2.530e+00, 2.600e-01, 1.770e+00, 3.900e+00, 1.160e+00,
        3.140e+00],
       [1.000e+00, 1.388e+01, 1.890e+00, 2.590e+00, 1.500e+01, 1.010e+02,
        3.250e+00, 3.560e+00, 1.700e-01, 1.700e+00, 5.430e+00, 8.800e-01,
        3.560e+00],
       [2.000e+00, 1.184e+01, 8.900e-01, 2.580e+00, 1.800e+01, 9.400e+01,
        2.200e+00, 2.210e+00, 2.200e-01, 2.350e+00, 3.050e+00, 7.900e-01,
        3.080e+00],
       [2.000e+00, 1.264e+01, 1.360e+00, 2.020e+00, 1.680e+01, 1.000e+02,
        2.020e+00, 1.410e+00, 5.300e-01, 6.200e-01, 5.750e+00, 9.800e-01,
        1.590e+00],
       [2.000e+00, 1.251e+01, 1.730e+00, 1.980e+00, 2.050e+01, 8.500e+01,
        2.200e+00, 1.920e+00, 3.200e-01, 1.480e+00, 2.940e+00, 1.040e+00,
        3.570e+00],
       [2.000e+00, 1.311e+01, 1.010e+00, 1.700e+00, 1.500e+01, 7.800e+01,
        2.980e+00, 3.180e+00, 2.600e-01, 2.280e+00, 5.300e+00, 1.120e+00,
        3.180e+00],
       [3.000e+00, 1.352e+01, 3.170e+00, 2.720e+00, 2.350e+01, 9.700e+01,
        1.550e+00, 5.200e-01, 5.000e-01, 5.500e-01, 4.350e+00, 8.900e-01,
        2.060e+00],
       [1.000e+00, 1.358e+01, 1.660e+00, 2.360e+00, 1.910e+01, 1.060e+02,
        2.860e+00, 3.190e+00, 2.200e-01, 1.950e+00, 6.900e+00, 1.090e+00,
        2.880e+00]])

In [ ]:
y_test

array([1450, 1480,  830,  600, 1195,  718,  680,  380,  835,  520,  660,
       1290,  625, 1105,  438,  560,  562, 1150,  510,  530, 1190, 1510,
        710,  880,  278,  415,  342,  500,  714, 1095,  520,  450,  672,
        502,  520, 1515])

In [ ]:

def readData(filename, folder='', delimiter= ","):
  D = np.loadtxt(os.path.join(folder, filename), delimiter=delimiter)

#reading csv files
  datawine =  pd.read_csv('/content/drive/MyDrive/KT GIỮA KỲ HỌC MÁY 1/wine.data', sep=",")
  x = datawine.iloc[:, :-1].values
  y = datawine.iloc[:, -1].values
  databreast =  pd.read_csv('/content/drive/MyDrive/KT GIỮA KỲ HỌC MÁY 1/breast-cancer-wisconsin.data', sep=",")
  X = databreast.iloc[:, :-1].values
  Y = databreast.iloc[:, -1].values

def featureScaling(x_train, x_test):
   sc = StandardScaler()
   x_train = sc.fit_transform(X_train)
   x_test = sc.transform(X_test)
   return x_train, x_test

def KiemTraDLPhuThuoc(y_train):
   unique, counts = np.unique(y_train, return_counts=True)
   result = dict(zip(unique, counts))
   print(result)
   return result


def main():


   #Bước 1: Phân chia train - test theo tỉ lệ 80% - 20%
   X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=15)

   # Bước 2: Chuẩn hóa dữ liệu
   X_train, X_test = featureScaling(X_train, X_test)

   #Số lượng k-fold được xác định tùy thuộc vào số lượng y_train
   result = KiemTraDLPhuThuoc(y_train)

   #Bước 3: Khởi tạo mô hình hồi quy logistic, với thuật toán tối ưu là liblinear
   #Bước lặp 1500; multi_class = 'auto' để tự phát hiện nhãn lớp nhị phân hay đa nhãn lớp
   classifier = LogisticRegression(solver='liblinear', max_iter=1500, multi_class='auto')


if __name__ == "__main__":
   main()

{0: 173, 1: 282}